
<div class="jumbotron text-center">
  <h1>FARMHAND</h1> 
  <p>Plan your financial future with us.</p> 
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About FarmHand</h2><br>
      <h4>We care about your future. Let us help grow your farm. Commodities can bring uncertainty. We are here to take the fear out of your future.</h4><br>
      <p>Plug in your financial numbers to help you make the best decision regarding commodities.</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-line-chart" style="font-size:375px;color:green"></i>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <i class="fa fa-vcard-o" style="font-size:48px;color:green"></i>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <h4><strong>MISSION:</strong>We value your business. We are dedicated professionals to bring you the best forecasts for the future and all the facts of the past.</h4><br>
      <p><strong>VISION:</strong>Choose FarmHand. Your farm is important to us as you are not just a farmer, you are a provider. Let us give you the information you need most to be the best provider you can be.</p>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <i class="fa fa-cogs" style="font-size:48px;color:green"></i>
      <h4>PLANNING</h4>
      <p>Plan for success.</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-bank" style="font-size:48px;color:green"></i>
      <h4>MONEY</h4>
      <p>Make your money work for you.</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-thumbs-o-up" style="font-size:48px;color:green"></i>
      <h4>JOB DONE</h4>
      <p>Get it done right the first time.</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <i class="fa fa-expeditedssl" style="font-size:48px;color:green"></i>
      <h4>SECURITY</h4>
      <p>See ways to protect your assets.</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-handshake-o" style="font-size:48px;color:green"></i>
      <h4>CERTIFIED</h4>
      <p>Professionals with experience.</p>
    </div>
    <div class="col-sm-4">
     <i class="fa fa-battery-full" style="font-size:48px;color:green"></i>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p>We will never stop working for you.</p>
    </div>
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">Sign in today!</h2>
    <div class="col-sm-12">
      <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>

