<!-- Container -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">INPUT PARAMETERS FOR NEW PLAN</h2>
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" placeholder="Name of Plan" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="heads" placeholder="Number of Head" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="startingWeight" placeholder="Average Starting Weight (lbs)" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="costPer100" placeholder="Cost Per Head Per Hundred Weight (lbs)" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="acresPerHead" placeholder="Pasture Acres Per Head" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="rentPerHead" placeholder="Pasture Rent Per Head" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="vetPerHead" placeholder="Vet Cost Per Head" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="transitPerHead" placeholder="Transport Cost Per Head" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="otherPerHead" placeholder="Other Cost Per Head" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="interestRate" placeholder="Interest Rate" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="weightPerDay" placeholder="Weight Gain Per Day (lbs)" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="daysOnPasture" placeholder="Number of Days on Pasture" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="futurePrice" placeholder="Future Price Per 100lbs" type="text" required>
          <p>Estimated Future Price: <span id="futureGuess"></span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" id="createPlan" type="submit">Add New Plan</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/auth.js"></script>
<script src="js/stocks.js"></script>
