
<!-- Container -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">INPUT PARAMETERS FOR NEW PLAN</h2>
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" placeholder="Number of Head" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" placeholder="Average Starting Weight (lbs)" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" placeholder="Cost Per Head Per Hundred Weight (lbs)" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" placeholder="Pasture Acres Per Head" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" placeholder="Pasture Rent Per Head" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" placeholder="Vet Cost Per Head" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" placeholder="Other Cost Per Head" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" placeholder="Interest Rate" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" placeholder="Weight Gain Per Day (lbs)" type="text" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" placeholder="Number of Days on Pasture" type="text" required>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Calculate</button>
        </div>
      </div>
    </div>
  </div>
</div>