<!DOCTYPE html>
<html>
 

<head>
    <title>SIGN IN</title>
</head>
 
<body>
    <div class="form-group">
        <form id="signinemail" name="signin" method="post" action="signin">
            <label for="email">Email Address</label>
            <input class="text" name="email" type="text" /><br>
            <label for="password">Password</label>
            <input name="password" type="password" /><br>
            <input class="btn" id="signinbtn" type="submit" value="Sign In" />
        </form>
    </div>
</body>
 
</html>