.primaryColor{
    color:black;
    background-color:green;
}
.secondaryColor{
    color:black;
    background-color:lightGreen;
}
.container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: grey;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: green !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color:green!important;
}
.navbar-default .navbar-toggle {
    border-color: red;
    color: green !important;
}