a {
    margin-top: 50px;
    display: block;
    color: #3e95cd;
}
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}
h1 {
    font-size: 120px;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}  
.jumbotron {
    background-color: green;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
.container-fluid {
    padding: 60px 10px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.material-icons {
    size: 5000px
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.navbar {
    margin-bottom: 0;
    background-color: green;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important; 
    letter-spacing: 0px;
    border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
    color: rgb(252, 252, 252) !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #c53061 !important;
    background-color: rgb(223, 215, 101) !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent; 
    color: rgb(214, 23, 23) !important;
}
.img404 {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
@media screen and (max-width: 768px) {
.col-sm-4 {
    text-align: center;
    margin: 25px 0;
}
.btn-lg {
      width: 100%;
      margin-bottom: 35px;
}
}
@media screen and (max-width: 480px) {
.logo {
      font-size: 150px;
}
}